@use "variables";
@use "reset";

.text--small {
  font-weight: 500;
  font-size: 10px;
}
.--pointer {
  cursor: pointer;
}

.button {
  padding: 11px;
  border-radius: 8px;
  text-align: center;

  &--small {
    padding: 8px 15px;
  }
  &--red {
    background-color: variables.$red-color;
  }
  &--white {
    color: rgba(45, 45, 45, 1);
    background-color: white;
  }
}

input, textarea {
  border-radius: 4px;
  padding: 11px;
  border: 1px solid variables.$border-color;
  width: 100%;
  max-width: 100%;
  background-color: variables.$second-color;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 9px 0;
  align-items: center;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
.pulse  {
  & p, & h3 {
    text-align: center;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(60, 60, 60, 1), rgba(68, 68, 68, 1), rgba(51, 51, 51, 1));
    background-size: 200% 100%;
    animation: pulseAnim 6s infinite linear;
    color: transparent;
  }
  & p {
    height: 10px;
  }
}
@keyframes pulseAnim {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}